<div class="text-center">
    <div class="col-lg-12 mb-4">
        <div class="card shadow mb-4">
            
            <div  class="card-header py-3 d-flex justify-content-between align-items-center">
                <div>
                    <h6 class="m-0 font-weight-bold text-primary text-left">
                        Etiquetas
                    </h6>
                </div>
                <a href="#" class="btn btn-info btn-circle" data-toggle="modal" data-target="#adicionarEtiqueta">
                    <i class="fas fa-plus"></i>
                </a>
            </div>


            <div class="card-body">
                <div class="card shadow mb-4">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tabelaEtiquetasGeral" style="text-align:left;">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Colunas</th>
                                    <th>Tipo</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="adicionarEtiqueta" tabindex="-1" aria-labelledby="adicionarEtiquetaLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adicionarEtiquetaLabel">Adicionar Etiqueta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div id="alertaFormAdicionarEtiqueta" class="alert alert-danger bg-danger card-alert text-white shadow d-flex justify-content-between align-items-center d-none" role="alert">
                    <div>
                        <span id="alertaFormAdicionarEtiquetaTexto"></span>
                        <i id="btnAbrirSuporteModal" href="#" class="fas fa-info-circle"></i>
                    </div>

                    <button type="button" class="btn btn-light btn-circle btnFecharAlertaModal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>

                <form id="formAdicionarEtiqueta" class="container">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">
                            Nome:<span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="message-text"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">
                            Modelo:<span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" id="message-text" />
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">
                            Impressora:
                             <!--
                                <span class="text-danger">*</span>
                             -->
                        </label>
                        <input type="text" class="form-control" id="message-text" />
                    </div>

                    <div class="row">
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label">
                                Colunas:<span class="text-danger intP-input">*</span>
                            </label>
                            <input type="text" class="form-control" id="message-text" />
                        </div>
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label">
                                Linhas:<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control intP-input" id="message-text" />
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label">
                                Largura:<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control intP-input" id="message-text" />
                        </div>
                        <div class="form-group col-6">
                            <label for="message-text" class="col-form-label">
                                Altura:<span class="text-danger">*</span>
                            </label>
                            <input type="text" class="form-control intP-input" id="message-text" />
                        </div>
                    </div>
                    <!--
                     <div class="form-group">
                         <label for="message-text" class="col-form-label">Espaço X:</label>
                         <input type="text" class="form-control" id="message-text" />
                     </div>
                     <div class="form-group">
                         <label for="message-text" class="col-form-label">Espaço Y</label>
                         <input type="text" class="form-control" id="message-text" />
                     </div>
                    -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Adicionar Etiqueta</button>
            </div>
        </div>
    </div>
</div>